@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}



/* color de las letras de enlaces */
a {
  color: black ;
}

/* --------------------------------------- index.html ( First Mobile (L)(425px) ------------------------------------ */


/* barra de navegacion  */

.bg-primary {
  background-image: linear-gradient(to right, #000000, #303030, #4e4e4e);

}

/* botones del navbar (hovers) y personalizacion de botones*/
.nav-link {
  color: rgba(255, 253, 253, 0.746);
  font-weight: 500;
  font-size: large;
}

.nav-link:hover {
  font-weight: 700;
  background-color: #ffffff32;
  color: rgb(0, 0, 0);

}

.navbar-toggler {
 border: black solid 1px;
}

/* boton inicio */

.active {
  color: rgba(255, 253, 253, 0.746) !important;
  font-weight: 700;
  font-size: large;
}

.active:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: 700;
  background-color: #ffffff32;
}


/* fondo contenedores principales */
.fondoMain {
  background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  background-size: cover;
}

.principalBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

/* titulo principal */
.tituloIndexBox {
  display: flex;
  justify-content: center;
}

.title {
  margin-top: 2vh;
  text-align: center;
  color: #939493;
  margin-bottom: 3vh;
  font-style: italic;
  width: fit-content;

}

/* cajas de textos */
.textBox {
  background-color: #c4c8c554;
  color: black;
  font-weight: 600;
  border: black 1.5px solid;
  border-radius: 5%;
  font-size: medium;
  padding: 10px;
  text-align: center;
  width: fit-content;
  z-index: 9;
  margin: 0px;
}

/* -------animacion/efecto sobre las cajas de texto main de index.html------ */

.textBox:hover {

  transform: scale(1.5, 1.3);
  transition: 0.2s ease-in-out;
  background-color: #34baab;
  border: #4e4e4e63 outset 0.5px;
  border-radius: 15%;
  padding: 10px;

}


/* imagenes de intex.html */
.imagenes {
  height: 30vh;
  border: #93949379 outset 2px;
  margin-bottom: 2vh;
  border-radius: 5%;

}



/* banner main (index.html) */
.bannerMain {

  background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');

}

.bannerSize {
  width: 100%;
  border-bottom: black solid 2px;
  border-top: 1px black solid;
}

/* imagen shop_tablas + texto y url acceso */
.boxShop {
  position: relative;
  display: flex;
  justify-content: center;

}

.textShopPosition {
  position: absolute;
  top: 4.5rem;
  left: 35%;
  right: 35%;
}

/* imagen quienes_somos + texto y url acceso */

.quienesBox {
  justify-content: center;
  display: flex;
  position: relative;
}

.textPositionQuienes {
  position: absolute;
  top: 4.5rem;
  left: 32%;
  right: 32%;
}

/* imagen de ubicacion + texto y link a como llegar */

.ubicacionBox {
  justify-content: center;
  display: flex;
  position: relative;
}

.textUbiPosition {
  position: absolute;
  top: 4.5rem;
  left: 36.5%;
  right: 36.5%;
}

/* imagen de contacto + texto y link url */

.contactBox {
  justify-content: center;
  display: flex;
  position: relative;
}

.textContactPosition {
  position: absolute;
  top: 4.5rem;
  left: 35%;
  right: 35%;

}

/*--------------------------------------------- footer all htmls ----------------------------------------------------*/

.footer {
  /*  display: flex; */
  background-image: linear-gradient(to right, #000000, #303030, #4e4e4e);
  padding-bottom: 1rem;
}

.menuFooter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 6rem;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logos {
  border-radius: 100%;
}

.social {
  margin: 0px 10px 10px 10px;
}

.social:hover {
  transform: scale(1.2, 1.2);
}

.logos:hover {
  transform: scale(1.1, 1.1);
}

/* ---------------------------- PAGINA SHOP_TABLAS FIRST MOBILE (L)(425px) ------------------------------------------ */


.containerMainShop {
  display: none;
}

.principalBox {
  display: flex;
}

.tituloShopBox {
  display: flex;
  justify-content: center;
  background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  background-size: cover;
}

.tituloSurfboards {
  background-color: #c4c8c5;
  border: black solid 5px;
  border-radius: 15px;
  margin-top: 15px;
  height: 50px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: larger;
}

/* contenedores de (shop_tablas)  */

.textBoxes {
  background-color: #c4c8c5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-radius: 15px;
  height: 50px;
  padding: 5px;
  border: solid black;
  margin-left: 25%;
  margin-top: 5px;

}

.colorBoxes {
  background-color: dimgrey;
  border: solid black;
  border-radius: 2%;

}

.tablasBox {
  height: 500px;
  width: 400px;
}

.tablaImg {
  margin-left: 10%;
  height: 80%;
}

.tablaImg:hover {

  transform: scale(1.2, 1.1)
}

/* ---------------------------------- PAGINA QUIENES_SOMOS FIRST MOBILE(425PX) ------------------------------------- */

.textQuienesSomosBox {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tituloQuienesBox {
  display: flex;
  justify-content: center;
}

.tituloQuienes {
  background-color: #c4c8c5;
  border: black solid 5px;
  margin-top: 15px;
  padding: 7px;
  border-radius: 10%;
  font-size: larger;
  border-radius: 25px;
}

.parrafoUnoBox {
  display: flex;
  width: 100vw;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  padding: 15px;
}

.parrafoUno {
  background-color: #c4c8c5;
}

.imagenesBox {
  display: flex;
  justify-content: center;
}

.imagenUno {
  height: 60vh;
  border: black solid 9px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.parrafoDosBox {
  width: 100vw;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 15px;
}

.parrafoDos {
  background-color: #c4c8c5;
}

.imagenDos {
  margin-top: 15px;
  margin-bottom: 15px;
  height: 60vh;
  display: flex;
  border: black solid 9px;
}

.parrafoTresBox {
  display: flex;
  width: 100vw;
  text-align: center;
  align-items: center;
  padding: 15px;
}

.parrafoTres {
  background-color: #c4c8c5;
}

/*-------------- efectos quienes_somos.html---------------- */
.parrafos:hover {
  background-color: #34baab;
  font-weight: 700;
  font-size: large;
}

/* ---------------------------------- PAGINA UBICACION.HTML FIRST MOBILE (425PX) ------------------------------------ */

.tituloUbiBox {
  display: flex;
  justify-content: center;
}

.tituloUbicacion {
  background-color: #c4c8c5;
  padding: 10px;
  border-radius: 40px;
  border: black solid 5px;
  margin: 10px;
  font-size: larger;
}

.mapaBox {
  display: flex;
  justify-content: center;
  height: 90vh;
  margin: 15px 15px 0px 15px;
}

.mapaIframe {
  display: flex;
  justify-content: center;

}

/* ---------------------------------- PAGINA CONTACTO.html FIRST MOBILE (425px) ------------------------------------- */


.tituloContactBox {
  display: flex;
  justify-content: center;
}

.contactoTitulo {
  background-color: #c4c8c5;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
  border: black solid 5px;
  border-radius: 30px;
  font-size: larger;
}


.formBox {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;
  height: 95vh;
  border-radius: 15px;
}

.formulario {
  align-self: center;
  background-color: #4e4e4e;
  border: black double 7px;
  padding: 15px;
  border-radius: 10px;

}

.boton {
  background-color: #c4c8c5;
  font-weight: 600;
  padding: 2px;
  border-radius: 10px;

}

.inputs {
  background-color: #c4c8c5;
  font-weight: 600;
  padding: 2px;
  border-radius: 10px;

}




/* ------- animaciones/efectos de contactanos.html ----------- */

.boton:hover {
  background-color: #34baab;
  padding: 2px;
  border-radius: 15px;
  font-weight: 600;
  border: 1px back solid;

}

.inputs:hover {
  background-color: #939493;
  transition: 1ms;
}


/* ------------------- Media query celulares S y M y L (afecta solo a la lista del menu) ------------------------------- */
@media (max-width:425px) {
  .listNavbar {
    font-size: smaller;
    padding: 2px;
    align-items: center;
    text-align: center;
  }
}

/* ------------------- Media query celulares M (375px)  (afecta solo a las imagenes de las tablas) -------------------------- */
@media (max-width:375px) {
  /* -------------------------------------------------seccion shop_Tablas--------------------------------- */

  .tablaImg {
    margin-left: 8%;

  }
}


/* ------------------- Media query celulares S (320px) (afecta solo a las imagenes de las tablas) -------------------------- */
@media (max-width:320px) {
  /* -------------------------------------------------seccion shop_Tablas--------------------------------- */

  .tablaImg {
    margin-left: 3%;

  }
}




/*------------------------------------ media query para tablets (768px) ---------------------------------------------*/

@media (min-width:767px) {

  /*  ------------------------------------------- inicia index html (768px) ----------------------------------------- */

  .principalBox {
    display: none;
  }

  .containerMain {
    display: grid;
    grid-template-columns: repeat(2, 40vw);
    grid-template-rows: 6.48vh 14vh 14vh 14vh 14vh;
    grid-template-areas:
      "tituloIndexBox tituloIndexBox"
      "boxShop quienesBox "
      "boxShop quienesBox "
      "ubicacionBox contactBox"
      "ubicacionBox contactBox";
  }

  
  .fondoMain {
    background-image: url('../imagenes/https___www.lifeofpix.com_wp-content_uploads_2017_11_edited-32-of-66.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .bannerSize {
    height: 100%;
  }

  .imagenes {
    width: 45vw;
    max-height: 25vh;
    margin: 0px 10px 0px 10px;
  }

  .tituloIndexBox {
    grid-area:tituloIndexBox;
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: medium;
  }


  /* shop */
  .boxShop {
    display: flex;
    grid-area: boxShop;
    margin-top: 7px;
  }

  .textShopPosition {
    top: 3.5rem;
    left: 38%;
    right: 38%;
  }

  /* quienesSomos */
  .quienesBox {
    display: flex;
    grid-area: quienesBox;
    margin-top: 7px;
  }

  .textPositionQuienes {
    top: 3.5rem;
    left: 34%;
    right: 34%;
  }

  /* ubicacion */
  .ubicacionBox {
    display: flex;
    grid-area: ubicacionBox;
    margin-top: 7px;
  }

  .textUbiPosition {
    top: 3.5rem;
    left: 38%;
    right: 38%;
  }

  /* contacto */
  .contactBox {
    display: flex;
    grid-area: contactBox;
    margin-top: 7px;
  }

  .textContactPosition {
    top: 3.5rem;
    left: 37%;
    right: 37%;

  }

  /* ------------------------------------- inicio shop_Tablas.html (768px)------------------------------------------- */
  .containerMainShop {
    display: grid;
    grid-area: containerMainShop;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(4, 15.62vh);
    grid-template-areas:

      "carrasco round  funboard longboard"
      ". . . ."
      ". . . ."
      ". . . .";
  }

  .carrasco {
    grid-area: carrasco;
  }

  .round {
    grid-area: round;
  }

  .funboard {
    grid-area: funboard;
  }

  .longboard {
    grid-area: longboard;
  }

  /* contenedores de (shop_tablas)  */

  .tablasBox {
    height: 56vh;
    width: 25vw;
  }

  .tablaImg {
    margin-left: 1rem;
    height: 60%;
  }





}









/*-------------------------------- media query para laptop L (1440px) ------------------------------------------------ */

@media (min-width:1439px) {

  /* ----------------------------------inicio de index.html (1440px)----------------------------------------------- */
  
  .principalBox {
    display:none;
  }

  .fondoMain {
    background-image: url('../imagenes/https___www.lifeofpix.com_wp-content_uploads_2017_11_edited-32-of-66.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
 
  .containerMain {
    display: grid;
  }
 
  .imagenes {
    width: 25vw;
  }


  /* banner main (index.html) */
  .bannerMain {
    background-image: linear-gradient(to right, #f5c16e, #f7c26b, #f9c368, #fbc464, #fdc561, #fec65f, #fec75c, #ffc85a, #ffca58, #ffcb56, #ffcd53, #ffcf51);
  }

  .bannerSize {
    height: 50vh;
    border-bottom: black solid 1px;
    border-top: 1px black solid;
  }

  .tituloIndexBox {
    background-image: linear-gradient(to right, #f5c16e, #f7c26b, #f9c368, #fbc464, #fdc561, #fec65f, #fec75c, #ffc85a, #ffca58, #ffcb56, #ffcd53, #ffcf51);
    text-align: center;
    align-items: center;
    font-size: medium;
  }

  .title {
    background: none;
    border:none;
    color: #303030;
    font-weight: 700;
  }

  .textBox {
   margin: 0px;

  }

  /* shop */

  .textShopPosition {
    top: 3.5rem;
    left: 43%;
    right: 43%;
  }


  /* quienesSomos */

  .textPositionQuienes {
    top: 3.5rem;
    left: 40%;
    right: 40%;
  }

  /* ubicacion */

  .textUbiPosition {
    top: 3.5rem;
    left: 43%;
    right: 43%;
  }

  /* contacto */

  .textContactPosition {
    top: 3.5rem;
    left: 42%;
    right: 42%;

  }

  /*------------------------------------- INICIO shop_tablas.html (1440px) ---------------------------------------- */

  .containerMainShop {
    display: grid;
    grid-area: containerMainShop;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(4, 15.62vh);
    grid-template-areas:

      "carrasco round funboard longboard"
      ". . . ."
      ". . . ."
      ". . . .";

    background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  }

  .tablasBox {
    height: 56vh;
    width: 25vw;
  }

  .tablaImg {
    margin-left: 4.2rem;
    height: 60%;
  }

  /* ---------------------------------- INICIO quienes_somos.html (1440px)---------------------------------- */

  .fondoDesktop {
    background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  }

  /*------------------------------------- INICIO ubicacion.html (1440px) ---------------------------------------- */

  .fondoUbi {
    background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  }

  /*------------------------------------- INICIO Contacto.html (1440px) ---------------------------------------- */

  .fondoContacto {
    background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  }
}

/* ---------------------------------MEDIA QUERY 4k (2560px) --------------------------------------------------- */
/* @media (min-width:2559px)  */