@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
}



/* color de las letras de enlaces */
a {
  color: black;
}

/* --------------------------------------- index.html ( First Mobile (L)(425px) ------------------------------------ */


/* barra de navegacion  */

.bg-primary {
  background-image: linear-gradient(to right, #000000, #303030, #4e4e4e);

}

/* -----------------botones del navbar (hovers) y personalizacion de botones*/
.nav-link {
  color: rgba(255, 253, 253, 0.746);
  font-weight: 500;
  font-size: large;
}

.navbar-nav {
  display: flex;
  align-items: flex-end;
}



.nav-link:hover {
  font-weight: 700;
  background-color: #ffffff8b;
  color: rgb(0, 0, 0);

}

.navbar-toggler {
  border: black solid 1px;
}

/* -------------------------------------boton inicio */

.active {
  color: rgba(255, 253, 253, 0.746) !important;
  font-weight: 700;
  font-size: large;
}

.active:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: 700;
  background-color: #ffffff8b;
}


/* -----------------------------fondo contenedores principales */
.fondoMain {
  background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.principalBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* banner main (index.html) */

.bannerSize {
  width: 100%;
}

/* -----------------------titulo principal ----------------------------------- */

.tituloIndexBox {
  display: flex;
  justify-content: center;
  background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  background-size: auto;
  background-repeat: no-repeat;

}

.title {
  margin-top: 5vh;
  text-align: center;
  color: #c4c8c5;
  font-weight: 800;
  font-style: italic;
  width: fit-content;
}

/* imagenes de index.html */
.imagenes {
  height: 30vh;
  border: #0000003c 0.5px solid;
  border-radius: 10px;
}

/* botones del intex */
.botonMain {
  background-color: #f2f2f229;
  border: #000000 0.5px solid;
  color: #eff0ef9c;
}

.botonMain:hover {
  background-color: #ffffff51;
  border: rgb(0, 0, 0) 0.5px solid;
  font-weight: 700;
  transform: scale(1.05,1.05);
}

/* card con imagen y boton url */

.cardBox {
  margin: 15px 15px 15px 15px;
  padding: 10px;
  background-image: linear-gradient(to right, #000000, #303030, #4e4e4e);
  border: #00000044 0.5px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}

.botonMain {
  margin: 5px;

}

/*--------------------------------------------- footer all htmls ----------------------------------------------------*/
.footer {
  /*  display: flex; */
  background-image: linear-gradient(to right, #000000, #303030, #4e4e4e);
  padding-bottom: 1rem;
}

.menuFooter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 6rem;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.footerLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.social {
  margin: 0px 10px 10px 10px;
}

.social:hover {
  transform: scale(1.2, 1.2);
}

.logos:hover {
  transform: scale(1.1, 1.1);
}

/* ---------------------------- PAGINA SHOP_TABLAS FIRST MOBILE (L)(425px) ------------------------------------------ */
.principalBox {
  display: flex;
  flex-direction: column;

}

.tituloShopBox {
  display: flex;
  justify-content: center;
}

.tituloSurfboards {
  color: #ffffffcb;
  border: #939493 0.5px solid;
  background-color: #c4c8c549;
  border-radius: 10px;
  margin: 30px 0px 15px 0px;
  display: flex;
  align-items: center;
  padding: 10px;
}

/* contenedores de (shop_tablas)  */
.textBoxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorBoxes {
  background-color: dimgrey;
  border: solid black;
  border-radius: 15px;
}

.tituloModelos {
  margin: 15px 0px 0px 0px;
  padding: 5px;
  background-color: #c4c8c5;
  border-radius: 15px;
  border: solid black;
}

.tablasBox:not(.textBoxes) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 500px;
  margin: 15px 0px 15px 0px;
}

.tablaImg {
  height: 75%;
}

.tablaImg:hover {
  transform: scale(1.2, 1.1)
}

/* ---------------------------------- PAGINA QUIENES_SOMOS FIRST MOBILE(425PX) ------------------------------------- */
.tituloQuienesBox {
  display: flex;
  justify-content: center;
}

.tituloQuienes {
  margin-top: 15px;
  padding: 7px;
  color: black;
}

.quienesCuerpo {
  background-color: #e4e0e0de;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10px;
}

.parrafoUnoBox {
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.tituloFotos {
  display: flex;
  justify-content: center;
  color: black;
  margin: 0px;
}

.imagenesBox {
  display: flex;
  justify-content: center;
}

.imagenQuienes {
  border: black solid 4px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.parrafos {
  font-weight: 500;
  font-size: larger;
  color: black;
  padding: 0.5rem;
  border: #00000092 0.2px solid;
  border-radius: 10px;
}

/* ---------------------------------- PAGINA UBICACION.HTML FIRST MOBILE (425PX) ------------------------------------ */
.tituloUbiBox {
  display: flex;
  justify-content: center;
}

.tituloUbicacion {
  padding: 10px;
  margin: 40px 10px 10px 10px;
  color: #c4c8c5;
  background-color: #ffffff1e;
  border: solid 0.5px #c4c8c5;
  border-radius: 7px;
}

.mapaBox {
  display: flex;
  justify-content: center;
  height: 80vh;
  margin: 0px 15px 0px 15px;
}

.mapaIframe {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

/* ---------------------------------- PAGINA CONTACTO.html FIRST MOBILE (425px) ------------------------------------- */
.tituloContactBox {
  display: flex;
  justify-content: center;
}

.contactoTitulo {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 10px;
  color: #c4c8c5;
  border: #c4c8c5 0.5px solid;
  background-color: #ffffff2d;
  border-radius: 5%;
}

.formBox {
  display: flex;
  justify-content: center;
  border-radius: 15px;
}

.formulario {
  align-self: center;
  background-color: #d3d3d396;
  border: rgba(255, 255, 255, 0.438) solid 3px;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 2rem;
  width:fit-content;
}

.boton {
  background-color: #c4c8c5;
  font-weight: 600;
  padding: 4px;
  border-radius: 10px;
  color: black;
}

.inputs {
  background-color: #c4c8c5;
  font-weight: 600;
  padding: 2px;
  border-radius: 10px;
}

/* ------- animaciones/efectos de contactanos.html ----------- */

.boton:hover {
  background-color: #ffffff21;
  padding: 2px;
  border-radius: 10px;
  font-weight: 600;
  border: 1px back solid;
  color: black;
}

.inputs:hover {
  background-color: #939493;
  transition: 1ms;
}

.label {
  color: black;
}

.inputs::placeholder {
  color: rgb(0, 0, 0);
  font-weight: 500;
}

/*------------------------------------ media query para tablets (768px) ---------------------------------------------*/

@media (min-width:767px) {

  /*  ------------------------------------------- inicia index html (768px) ----------------------------------------- */
  .principalBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .fondoMain {
    background-image: url('../imagenes/https___www.lifeofpix.com_wp-content_uploads_2017_11_edited-32-of-66.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .tituloIndexBox {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: medium;
    background-image: linear-gradient(90deg, rgba(250, 204, 116, 1) 0%, rgba(254, 204, 109, 1) 23%, rgba(255, 209, 108, 1) 52%, rgba(255, 211, 94, 1) 72%, rgba(255, 217, 70, 1) 100%);
  }

  .title {
    color: black;
  }

  /* ------------------------------------- inicio shop_Tablas.html (768px)------------------------------------------- */
  .principalBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .tablasBox {
    max-width:349.2px ;
  }
}

/*------------------------------------------- inicio quienes-somos / contacto (768px) ----------------------------------------- */
.fondoAlternativo {
  background-image: url('../imagenes/charcol\ black\ wallpaper\ background\ -\ Hecho\ con\ PosterMyWall.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
/*-------------------------------- media query para laptop (910px) ------------------------------------------------ */
@media (min-width:900px) {

  /* index html  */
  .principalBox {
    display: flex;
    padding: 2rem 6rem 2rem 6rem;
    justify-content: space-between;
  }

  .cardBox {
    margin: 2rem;
  }
}
/*-------------------------------- media query para laptop L (1440px) ------------------------------------------------ */
@media (min-width:1200px) {

  /* ----------------------------------inicio de index.html (1440px)----------------------------------------------- */
  .principalBox {
    display: flex;
    padding: 2rem 8rem 3rem 8rem;
    justify-content: space-between;
  }

  .cardBox {
    margin: 4rem;
  }

  .title {
    color: black;
    font-weight: 900;
  }

  /*------------------------------------- INICIO shop_tablas.html (1440px) ---------------------------------------- */
  .principalBox {
    display: flex;
    padding: 40px 180px 40px 180px;
    justify-content: space-between;
  }

}