* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    
    a {
        color: black;
      }
}
/////////variables/////////
@import './variables/variables';
@import './variables/extend';
@import './variables/mixins';

//header (all htmls)
@import './header/header';

//contenido principal (index.html)
@import './layouts/inicio';

//contenido principal (shop_tablas.html)
@import './layouts/surfboards';

//contenido principal (ubicacion.html)
@import './layouts/ubicacion';

//contenido principal (quienes_somos.html)
@import './layouts/quienes-somos';

//contenido principal (contacto.html)
@import './layouts/contacto';

//footer (all htmls)
@import './footer/footer';

////////////////////////////////////////////////// MEDIAS QUERYS ////////////////////////////////////////////////////////////////

/////////// medias querys index ////////////
@import './medias-querys/inicio-mquery.scss';

//////////// medias querys shop ////////////
@import './medias-querys/surfboards-mquery.scss';

/////////// medias querys quienes somos ///////////////
@import './medias-querys/quienes-mquery';

/////////// medias querys ubicacion ///////////////
@import './medias-querys/ubicacion-mquery';