   /* ---------------------------------- barra de navegacion (all html) ----------------------------------------  */
   nav {

       background: $backgroundGradient;

       div {

           //hover sobre logos
           .logos {
               &:hover {
                   transform: scale(1.1, 1.1);
               }
           }

           /////////////// menu hamburguesa //////////// 


           // boton que agranda el menu de navegacion
           .navbar-toggler {
               border: black solid 1px;
           }

           div {
               .navbar-nav {
                   display: flex;
                   align-items: flex-end;
               }

               // estilos para las listas del nav

               .active {
                   color:$activeColor  !important;
                   font-weight: 800 !important;
                    text-decoration:overline;

                   &:hover {
                       font-weight: 600;
                       background-color: #6969698b !important;
                   }
               }

               .nav-link {
                   color: $letrasColor;
                   font-weight: 500;
                   font-size: large;

                   &:hover {
                       font-weight: 700;
                       background-color: #c4c8c5;
                       border-radius:2rem;
                       padding: 6px;
                       transform: scale(1.01,1.07);
                       color: rgb(0, 0, 0);
                       transition: 0.2s;
                       transition: ease-in-out;
                   }
               }
           }
       }
   }