///////////////////////////////////////////// inicia index html (768px) /////////////////////////////////////////////

@media (min-width:767px) {

    main {
        .principalBox {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
       
            .tituloIndexBox {
                display: flex;
                width: 100%;
                text-align: center;
                align-items: center;
                font-size: medium;
            }
        }
    }
}

//////////////////////////////////////////////// media query para laptop (910px)  /////////////////////////////////////////////
@media (min-width:900px) {

    ///////////////////////////////////////////////// index html  /////////////////////////////////////////////////
    main {
        .principalBox {
            display: flex;
            padding: 2rem 6rem 2rem 6rem;
            justify-content: space-between;


            .cardBox {
                margin: 2rem;
            }
        }
    }
}



/////////////////////////////////////////// inicio de index.html (1440px)  /////////////////////////////////////////////////

@media (min-width:1200px) {


    main {
        .principalBox {
            display: flex;
            padding: 2rem 8rem 3rem 8rem;
            justify-content: space-between;


            .cardBox {
                margin: 4rem;
            }

        }
    }
}