//////////////////////////////////////////// media query para tablets (768px) ///////////////////////////////////////////////////////

@media (min-width:767px) {

    ////////////////////////////////////////////////// inicio shop_Tablas.html (768px) ///////////////////////////////////////////////

    main {

        .principalBoxTablas {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;

            div {

                .titulos-justify {
                    display: flex;
                    justify-content: center;

                    .tituloSurfboards {
                        color: black;
                        border: none;
                        background: none;
                        border-radius: none;
                        margin: 15px;
                        display: flex;
                        align-items: center;
                        padding: 10px;
                    }
                }
            }

            .tablasBox:not(.textBoxes) {
                height: 90vh;
                width: 50vw;
            }
        }
    }
}



////////////////////////////////////////// INICIO shop_tablas.html (1440px) //////////////////////////////////////////////////

@media (min-width:1200px) {

    main {

        div {

            div {

                .titulos-justify {
                    display: flex;
                    justify-content: center;

                    .tituloSurfboards {
                        color: black;
                        border: none;
                        background: none;
                        border-radius: none;
                        margin: 15px;
                        display: flex;
                        align-items: center;
                        padding: 10px;
                    }

                    .tablasBox:not(.textBoxes) {
                        height: 95vh;
                        width:fit-content;
                    }
                }
            }
        }
    }
}