@media (max-width:375px) {

    main {
        .fondoAlternativo {
            padding: 2.5px;

            div {

                .quienesCuerpo {
                    padding: 5px;

                    span {

                        .tituloQuienes {
                            font-size: large;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}