//////////////////////////////////////////// media query para tablets (768px) ///////////////////////////////////////////////////////
@media (min-width:375px) {
    main {
        .principalBoxTablas {
            padding: 1rem;

            .tablasBox {

                max-width: 90vw;
            }

        }
    }
}

@media (min-width:445px) {
    main {
        .principalBoxTablas {
            padding: 1rem;

            .tablasBox {

                max-width: 80vw;

            }

        }
    }

}

@media (min-width:767px) {

    ////////////////////////////////////////////////// inicio shop_Tablas.html (768px) ///////////////////////////////////////////////

    main {

        .principalBoxTablas {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 25px;

            .tablasBox:not(.textBoxes) {
                max-width: 50vw;

                .tablaImg {
                    height: 65%;
                }

            }
        }
    }
}



////////////////////////////////////////// INICIO shop_tablas.html (1440px) //////////////////////////////////////////////////

@media (min-width:1200px) {

    main {

        div {

            div {

                .tablasBox:not(.textBoxes) {
                    max-width: 40vw;
                }
            }
        }
    }
}

@media (min-width:1440px) {
    main {

        div {

            div {
                .tablasBox:not(.textBoxes) {
                    max-width: 35vw;
                }
            }
        }
    }
}