///////////////////////////////////////////////////////////  Main index.html ////////////////////////////////////////////////////////

////////////// banner main (index.html) ///////////////

div {
    .bannerSize {
        width: 100%;
    }
}


//////////////////////// CONTENEDOR MAIN ////////////////////////////////
.principalBox {
    @include justify-center(wrap,column,center);
    @extend %fondoGrey;

    /////////////////// titulo principal /////////////////////////////

    .titulos-justify {
        @include justify-center (nowrap,column,center);

        .title {
            text-align: center;
            @extend %titulos;
        }

    }

    /////////////////// imagenes del main ///////////////////////////////
    .imagenes {
        height: 30vh;
        border: #93949334 0.5px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    ///////////////////////////// botones del main  //////////////////

    .botonMain {
        background-color: #c4c8c563;
        border: #3a3c3b89 1px solid;  
        margin: 5px;

        &:hover {
            background-color: #ffffff51;
            border: rgb(0, 0, 0) 0.5px solid;
            font-weight: 700;
            transform: scale(1.05, 1.1);
            transition: 0.1ms;
        }
    }

    /////////////////////////// card con imagen y boton url /////////////////

    .cardBox {
        margin: 15px 15px 15px 15px;
        padding: 10px;
        background-image: linear-gradient(to right, #000000, #303030, #4e4e4e);
        border: #34baaa1d 0.5px solid;
        border-radius: 10px;
        @include justify-center (wrap,column,none);
        width: fit-content;
    }

}