/* ---------------------------------- PAGINA QUIENES_SOMOS FIRST MOBILE(425PX) ------------------------------------- */
main {

    .fondoMain {
        padding: 5px;
        @extend %fondoCharcoal;

        div {

            .quienesCuerpo {
                background-color: #e4e0e0de;
                padding: 2rem;
                margin: 1rem;
                border-radius: 10px;

                span {

                    .tituloQuienes {
                        margin-top: 15px;
                        padding: 7px;
                        color: black;
                        text-align: center;
                        font-weight: 500;
                    }
                }

                .tituloFotos {
                    @include justify-center(column,nowrap,center);
                    color: black;
                    margin: 0px;
                    text-decoration: underline;
                }

                .parrafoUnoBox {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    text-align: center;
                    padding: 10px;

                    .parrafos {
                        font-weight: 500;
                        font-size: larger;
                        color: black;
                        padding: 0.5rem;
                        border: #00000092 0.2px solid;
                        border-radius: 10px;
                    }
                }

                .imagenesBox {
                    @include justify-center(column,nowrap,center);

                    .imagenQuienes {
                        border: black solid 4px;
                        border-radius: 10px;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }

            }
        }
    }
}