////////////////////////////////////////////////// CONTENEDOR MAIN SHOP TABLAS ////////////////////////////////////////////////////

main {
    .principalBox {
        padding:0.5rem;

        div {

            .titulos-justify {
             
                .tituloSurfboards {
                    color: #ffffff;
                    margin: 30px 0px 15px 0px;
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    text-decoration: none;
                }
            }


            /* contenedores de (shop_tablas)  */

            .tablasBox:not(.textBoxes) {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                width: 95vw;
                height: 81vh;
                margin: 15px 0px 15px 0px;
                background-color: rgba(255, 255, 255, 0.529);
                border: solid black;
                border-radius: 15px;


                .tablaImg {
                    height: 70%;

                    &:hover {
                        transform: scale(1.2, 1.1)
                    }
                }

                .textBoxes {
                    width: 100%;
                    @include justify-center(column,nowrap,center);
                    align-items: center;

                    .tituloModelos {
                        margin: 15px 0px 0px 0px;
                        padding: 5px;
                        font-size: x-large;
                        color: #000000;
                    }

                }

                div {
                   span {

                        .text-alignment {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}