/* ---------------------------------- PAGINA UBICACION.HTML FIRST MOBILE (425PX) ------------------------------------ */

main {

    .fondoAlternativo {
        @extend %fondoGrey;
        padding: 2rem;

        .titulos-justify {
            @include justify-center(column,nowrap,center);

            .tituloUbicacion {
                margin: 40px 10px 10px 10px;
                @extend %titulos;

            }
        }

        .mapaBox {
            @include justify-center(none,none,none);
            height: 80vh;
            margin: 0px 15px 0px 15px;

            .mapaIframe {
                @include justify-center(none,none,none);
                margin: 2rem;
            }
        }

    }
}