/* ---------------------------------- PAGINA UBICACION.HTML FIRST MOBILE (425PX) ------------------------------------ */

main {

    .fondoAlternativo {
        @extend %fondoCharcoal;
        padding: 2rem;


        .titulos-justify {

            .tituloUbicacion {
                padding: 10px;
                margin: 40px 10px 10px 10px;
                color: #ffffff;
            }
        }



        .mapaBox {
            @extend %justify-center;
            height: 80vh;
            margin: 0px 15px 0px 15px;

            .mapaIframe {
                @extend %justify-center;
                margin: 2rem;
            }
        }

    }
}