/* ---------------------------------- PAGINA UBICACION.HTML FIRST MOBILE (425PX) ------------------------------------ */

main {

    .fondoAlternativo {
        @extend %fondoCharcoal;
        padding: 2rem;

        .titulos-justify {
            @include justify-center(column,nowrap,center);

            .tituloUbicacion {
                padding: 10px;
                margin: 40px 10px 10px 10px;
                color: #ffffff;
            }
        }

        .mapaBox {
            @include justify-center(column,nowrap,center);
            height: 80vh;
            margin: 0px 15px 0px 15px;

            .mapaIframe {
                @include justify-center(column,nowrap,center);
                margin: 2rem;
            }
        }

    }
}